<a href="https://colab.research.google.com/github/SlavaR07/Slavas/blob/main/LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
df = pd.read_cvs('Expanded_data_with_more_features.csv')

NameError: name 'pd' is not defined

In [9]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [10]:
import pandas as pd

In [13]:
df = pd.read_csv('Expanded_data_with_more_features.csv')

In [14]:
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [18]:
df.columns

Index(['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
       'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore',
       'ReadingScore', 'WritingScore'],
      dtype='object')

In [20]:
lst = ['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
       'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore',
       'ReadingScore', 'WritingScore']
df = df[lst]

In [71]:
df = df.drop(['Unnamed: 0'], axis=1)

In [21]:
df.isnull().sum()

Unnamed: 0                0
Gender                    0
EthnicGroup            1840
ParentEduc             1845
LunchType                 0
TestPrep               1830
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [22]:
df['EthnicGroup']

0            NaN
1        group C
2        group B
3        group A
4        group C
          ...
30636    group D
30637    group E
30638        NaN
30639    group D
30640    group B
Name: EthnicGroup, Length: 30641, dtype: object

In [26]:
df.groupby('EthnicGroup').count()

,Unnamed: 0,Gender,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
EthnicGroup,,,,,,,,,,,,,,
group A,2219,2219,2078,2219,2081,2121,2167,2168,2096,1999,2146,2219,2219,2219
group B,5826,5826,5470,5826,5488,5605,5704,5649,5546,5238,5642,5826,5826,5826
group C,9212,9212,8652,9212,8652,8858,9050,8929,8763,8280,8933,9212,9212,9212
group D,7503,7503,7056,7503,7070,7218,7343,7285,7106,6713,7270,7503,7503,7503
group E,4041,4041,3814,4041,3804,3892,3954,3918,3820,3624,3924,4041,4041,4041

In [28]:
df[['EthnicGroup']] = df[['EthnicGroup']].fillna('group C')

In [29]:
df.isnull().sum()

Unnamed: 0                0
Gender                    0
EthnicGroup               0
ParentEduc             1845
LunchType                 0
TestPrep               1830
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [31]:
df['ParentEduc'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school', nan],
      dtype=object)

In [32]:
df.groupby('ParentEduc').count()

,Unnamed: 0,Gender,EthnicGroup,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
ParentEduc,,,,,,,,,,,,,,
associate's degree,5550,5550,5550,5550,5213,5351,5446,5380,5263,5026,5379,5550,5550,5550
bachelor's degree,3386,3386,3386,3386,3209,3251,3320,3286,3213,3057,3269,3386,3386,3386
high school,5687,5687,5687,5687,5341,5475,5568,5541,5387,5086,5503,5687,5687,5687
master's degree,2023,2023,2023,2023,1903,1939,1985,1952,1927,1800,1967,2023,2023,2023
some college,6633,6633,6633,6633,6216,6369,6488,6457,6313,5964,6442,6633,6633,6633
some high school,5517,5517,5517,5517,5192,5295,5408,5336,5216,4930,5343,5517,5517,5517

In [34]:
df[['ParentEduc']] = df[['ParentEduc']].fillna('some college')

In [35]:
df.isnull().sum()

Unnamed: 0                0
Gender                    0
EthnicGroup               0
ParentEduc                0
LunchType                 0
TestPrep               1830
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [37]:
df['TestPrep'].unique()

array(['none', nan, 'completed'], dtype=object)

In [39]:
df.isnull().sum()

Unnamed: 0                0
Gender                    0
EthnicGroup               0
ParentEduc                0
LunchType                 0
TestPrep               1830
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [40]:
df[['TestPrep']] = df[['TestPrep']].fillna('none')

In [42]:
df.isnull().sum()

Unnamed: 0                0
Gender                    0
EthnicGroup               0
ParentEduc                0
LunchType                 0
TestPrep                  0
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [43]:
df[['PracticeSport']] = df[['PracticeSport']].fillna('some college')

In [44]:
df.isnull().sum()

Unnamed: 0                0
Gender                    0
EthnicGroup               0
ParentEduc                0
LunchType                 0
TestPrep                  0
ParentMaritalStatus    1190
PracticeSport             0
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [47]:
df[['ReadingScore']] = df[['ReadingScore']].fillna('other')

In [48]:
df.isnull().sum()

Unnamed: 0                0
Gender                    0
EthnicGroup               0
ParentEduc                0
LunchType                 0
TestPrep                  0
ParentMaritalStatus    1190
PracticeSport             0
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [50]:
df[['WklyStudyHours']] = df[['WklyStudyHours']].fillna('some college')

In [51]:
df.isnull().sum()

Unnamed: 0                0
Gender                    0
EthnicGroup               0
ParentEduc                0
LunchType                 0
TestPrep                  0
ParentMaritalStatus    1190
PracticeSport             0
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours            0
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [52]:
df[['ParentMaritalStatus']] = df[['ParentMaritalStatus']].fillna('some college')

In [53]:
df.isnull().sum()

Unnamed: 0                0
Gender                    0
EthnicGroup               0
ParentEduc                0
LunchType                 0
TestPrep                  0
ParentMaritalStatus       0
PracticeSport             0
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours            0
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [54]:
df[['ParentMaritalStatus']] = df[['ParentMaritalStatus']].fillna('some college')

In [55]:
df.isnull().sum()

Unnamed: 0                0
Gender                    0
EthnicGroup               0
ParentEduc                0
LunchType                 0
TestPrep                  0
ParentMaritalStatus       0
PracticeSport             0
IsFirstChild              0
NrSiblings             1572
TransportMeans         3134
WklyStudyHours            0
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [56]:
df[['NrSiblings']] = df[['NrSiblings']].fillna('some college')

In [61]:
df.isnull().sum()

Unnamed: 0                0
Gender                    0
EthnicGroup               0
ParentEduc                0
LunchType                 0
TestPrep                  0
ParentMaritalStatus       0
PracticeSport             0
IsFirstChild              0
NrSiblings                0
TransportMeans         3134
WklyStudyHours            0
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [65]:
df[['TransportMeans']] = df[['TransportMeans']].fillna('other')

In [75]:
df.isnull().sum()

Gender                 0
EthnicGroup            0
ParentEduc             0
LunchType              0
TestPrep               0
ParentMaritalStatus    0
PracticeSport          0
IsFirstChild           0
NrSiblings             0
TransportMeans         0
WklyStudyHours         0
MathScore              0
ReadingScore           0
WritingScore           0
dtype: int64

In [67]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

In [68]:
df['Gender'] = label_encoder.fit_transform(df['Gender'])

In [72]:
df

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,group C,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,0,group C,some college,standard,none,married,sometimes,yes,0.0,other,5 - 10,69,90,88
2,0,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,1,group A,associate's degree,free/reduced,none,married,never,no,1.0,other,5 - 10,45,56,42
4,1,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,0,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,1,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,0,group C,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,0,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,1,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,group C,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,0,group C,some college,standard,none,married,sometimes,yes,0.0,other,5 - 10,69,90,88
2,0,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,1,group A,associate's degree,free/reduced,none,married,never,no,1.0,other,5 - 10,45,56,42
4,1,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,0,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,1,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,0,group C,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,0,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,1,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [76]:
df['EthnicGroup'] = label_encoder.fit_transform(df['EthnicGroup'])
df

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,2,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,0,2,some college,standard,none,married,sometimes,yes,0.0,other,5 - 10,69,90,88
2,0,1,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,1,0,associate's degree,free/reduced,none,married,never,no,1.0,other,5 - 10,45,56,42
4,1,2,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,0,3,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,1,4,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,0,2,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,0,3,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,1,1,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [77]:
df['ParentEduc'] = label_encoder.fit_transform(df['ParentEduc'])
df

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,2,1,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,0,2,4,standard,none,married,sometimes,yes,0.0,other,5 - 10,69,90,88
2,0,1,3,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,1,0,0,free/reduced,none,married,never,no,1.0,other,5 - 10,45,56,42
4,1,2,4,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,0,3,2,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,1,4,2,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,0,2,2,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,0,3,0,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,1,1,4,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [78]:
df['LunchType'] = label_encoder.fit_transform(df['LunchType'])
df

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,2,1,1,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,0,2,4,1,none,married,sometimes,yes,0.0,other,5 - 10,69,90,88
2,0,1,3,1,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,1,0,0,0,none,married,never,no,1.0,other,5 - 10,45,56,42
4,1,2,4,1,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,0,3,2,1,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,1,4,2,1,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,0,2,2,0,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,0,3,0,1,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,1,1,4,1,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [79]:
df['TestPrep'] = label_encoder.fit_transform(df['TestPrep'])
df

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,2,1,1,1,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,0,2,4,1,1,married,sometimes,yes,0.0,other,5 - 10,69,90,88
2,0,1,3,1,1,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,1,0,0,0,1,married,never,no,1.0,other,5 - 10,45,56,42
4,1,2,4,1,1,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,0,3,2,1,1,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,1,4,2,1,1,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,0,2,2,0,0,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,0,3,0,1,0,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,1,1,4,1,1,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [80]:
df['ParentMaritalStatus'] = label_encoder.fit_transform(df['ParentMaritalStatus'])
df

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,2,1,1,1,1,regularly,yes,3.0,school_bus,< 5,71,71,74
1,0,2,4,1,1,1,sometimes,yes,0.0,other,5 - 10,69,90,88
2,0,1,3,1,1,2,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,1,0,0,0,1,1,never,no,1.0,other,5 - 10,45,56,42
4,1,2,4,1,1,1,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,0,3,2,1,1,2,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,1,4,2,1,1,2,regularly,no,1.0,private,5 - 10,58,53,51
30638,0,2,2,0,0,1,sometimes,no,1.0,private,5 - 10,61,70,67
30639,0,3,0,1,0,1,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,1,1,4,1,1,1,never,no,1.0,school_bus,5 - 10,64,60,58

In [81]:
df['PracticeSport'] = label_encoder.fit_transform(df['PracticeSport'])
df

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,2,1,1,1,1,1,yes,3.0,school_bus,< 5,71,71,74
1,0,2,4,1,1,1,3,yes,0.0,other,5 - 10,69,90,88
2,0,1,3,1,1,2,3,yes,4.0,school_bus,< 5,87,93,91
3,1,0,0,0,1,1,0,no,1.0,other,5 - 10,45,56,42
4,1,2,4,1,1,1,3,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,0,3,2,1,1,2,3,no,2.0,school_bus,5 - 10,59,61,65
30637,1,4,2,1,1,2,1,no,1.0,private,5 - 10,58,53,51
30638,0,2,2,0,0,1,3,no,1.0,private,5 - 10,61,70,67
30639,0,3,0,1,0,1,1,no,3.0,school_bus,5 - 10,82,90,93
30640,1,1,4,1,1,1,0,no,1.0,school_bus,5 - 10,64,60,58

In [82]:
df['IsFirstChild'] = label_encoder.fit_transform(df['IsFirstChild	'])
df

KeyError: 'IsFirstChild\t'